<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
		<modules>
            <remove name="WebDAVModule" />
        </modules>
		
        <handlers>
            <remove name="aspNetCore" />
            <remove name="WebDAV" />
            <!-- I removed the following handlers too, but these
                 can probably be ignored for most installations -->
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />

            <add name="aspNetCore" 
                 path="*" 
                 verb="*" 
                 modules="AspNetCoreModule" 
                 resourceType="Unspecified" />
        </handlers>
		
		<rewrite>
			<rules>
				<rule name="HTTPS Redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>
		
		<aspNetCore processPath="dotnet" arguments=".\MMN.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="" />
				<environmentVariable name="DB_CONNECTION_STRING" value="" />
				<environmentVariable name="SENDGRID_API_KEY" value="" />
				<environmentVariable name="SENDPULSE_API_KEY" value="" />
				<environmentVariable name="BREVO_API_KEY" value="" />
				<environmentVariable name="AWIN_TOKEN_1" value="" />
				<environmentVariable name="PAGARME_ENCRYPTION_KEY" value="" />
				<environmentVariable name="PAGARME_API_KEY" value="" />
			</environmentVariables>
		</aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: a2e999c0-85e6-4b81-9234-1ee98bdf04f0-->